<script setup lang="ts" name="Dropdown">
import { toRefs, ref, computed } from "vue";
import type { DropdownTrigger } from "./DropdownTrigger.enum";
import type { DropdownPlacement } from "./DropdownPlacement.enum";
import { Dropdown } from "floating-vue";
import "floating-vue/dist/style.css";

const props = withDefaults(
  defineProps<{
    modelValue?: boolean;
    distance?: number;
    skidding?: number;
    autoSize?: boolean | "min" | "max";
    placement?: DropdownPlacement;
    trigger?: DropdownTrigger | DropdownTrigger[];
    autoHide?: boolean;
    arrowHide?: boolean;
    onlyRead?: boolean;
  }>(),
  {
    placement: "bottom" as DropdownPlacement.Bottom,
    autoHide: true,
    arrowHide: true,
    distance: 6,
    skidding: 0,
    modelValue: undefined,
    onlyRead: false,
  },
);

const emit = defineEmits<{
  (e: "update:modelValue", value: boolean): void;
  (e: "hideDropdown"): void;
}>();

const { modelValue } = toRefs(props);

const isShown = ref<boolean>(props.modelValue ?? false);

const isShownProxy = computed<boolean>({
  get: () => modelValue?.value ?? isShown.value,
  set: (value: boolean) => {
    if (modelValue?.value !== undefined) {
      emit("update:modelValue", value);
    }

    isShown.value = value;
  },
});

function showDropdown(): void {
  isShownProxy.value = true;
}

function hideDropdown(): void {
  isShownProxy.value = false;
  emit("hideDropdown");
}
</script>
<template>
  <Dropdown
    :shown="isShownProxy"
    theme="dropdown"
    :distance="arrowHide ? distance : distance + 14"
    :skidding="skidding"
    :autoSize="autoSize"
    :auto-hide="autoHide"
    :placement="placement"
    compute-transform-origin
    :popperClass="`ui-dropdown ${arrowHide ? 'ui-dropdown__arrowHide' : ''}`"
    @hide="hideDropdown"
    @show="showDropdown"
    :disabled="onlyRead"
    v-bind="$attrs"
  >
    <slot name="trigger" />
    <template #popper="{ hide }">
      <slot name="dropdown" :hide="hide" />
    </template>
  </Dropdown>
</template>

<style lang="scss">
.ui-dropdown {
  &.v-popper__popper {
    z-index: 100000;
  }

  .v-popper__wrapper {
    padding: 0;
  }

  .v-popper__inner {
    box-shadow: 0 5px 40px rgba(95, 105, 131, 0.12) !important;
    border-radius: 0 !important;
    border: none !important;
    background-color: #fff !important;
  }

  .v-popper__arrow-container {
    height: 16px;
    width: 16px;
    left: 50%;
    transform: translateX(-50%);
    .v-popper__arrow-outer {
      pointer-events: none;
      border-width: 16px;
      top: -32px;
      border-color: #fff;
    }

    .v-popper__arrow-inner {
      display: none;
    }
  }
}

.ui-dropdown__arrowHide {
  .v-popper__arrow-container {
    display: none !important;
  }
}

.v-popper__popper.v-popper__popper--show-from .v-popper__wrapper {
  transform: scale(0.5);
}

.v-popper__popper.v-popper__popper--show-to .v-popper__wrapper {
  transform: none;
  transition: transform 0.15s;
}
</style>
