<script setup lang="ts" name="Input">
import { vMaska } from "maska";
import { computed, ref, useAttrs, watch } from "vue";
import { useFocus } from "@vueuse/core";
import Dropdown from "../../Dropdown";
import { DropdownPlacement } from "../../Dropdown/src/DropdownPlacement.enum";
import { InputType } from "./InputType.enum";

const attrs = useAttrs();

export interface InputProps {
  isError?: boolean;
  isSuccess?: boolean;
  isLoading?: boolean;
  isDisabled?: boolean;
  modelValue: string;
  isTextarea?: boolean;
  containerClass?: string;
  errorText?: string;
  label?: string;
  isNeedSearchIcon?: boolean;
  info?: Array<string>;
  maskPattern?: string;
  dataMaskTokens?: string;
  inputType?: InputType;
  commentTextAreaStyle: string;
}

const props = withDefaults(defineProps<InputProps>(), {
  isLoading: false,
  isDisabled: false,
  isError: false,
  isSuccess: false,
  modelValue: "",
  isTextarea: false,
  containerClass: "",
  errorText: "",
  label: "",
  isNeedSearchIcon: true,
  maskPattern: "",
  dataMaskTokens: "",
  inputType: InputType.DEFAULT,
  commentTextAreaStyle: "",
});

const emit = defineEmits(["update:modelValue", "update:isError"]);

const input = ref();
const { focused } = useFocus(input);

const isShowPassword = ref(false);

const isInputInFocus = ref(false);

const hasValue = computed(() => {
  return props.modelValue.length;
});

const isShowCloseButton = computed(() => {
  return isInputInFocus.value || hasValue.value;
});

const clearInput = () => {
  emit("update:modelValue", "");
};

watch(focused, (focused) => {
  isInputInFocus.value = focused;
});

const isPassword = computed(() => {
  return attrs.type === "password";
});

const type = computed(() => {
  return isShowPassword.value ? "text" : attrs.type;
});
</script>
<template>
  <div
    :class="[
      $style[inputType],
      $style.inputContainer,
      [$slots.extra && $style.withExtraContainer, label && $style.withLabel],
      containerClass,
      {
        [$style.active]: isShowCloseButton,
        [$style.error]: isError,
        [$style.success]: isSuccess,
        [$style.loading]: isLoading,
        [$style.disabled]: isDisabled,
      },
    ]"
  >
    <div :class="$style.label" v-if="label">
      {{ label }}
    </div>
    <div :class="$style.icon" v-if="isNeedSearchIcon && !isTextarea">
      <slot name="search-icon">
        <svg viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M17.1256 16.2418L12.4056 11.5218C13.5398 10.1601 14.1053 8.41361 13.9847 6.64558C13.864 4.87756 13.0663 3.22412 11.7576 2.02924C10.4488 0.834363 8.72983 0.190035 6.95814 0.230295C5.18645 0.270555 3.49849 0.992304 2.2454 2.2454C0.992304 3.49849 0.270555 5.18645 0.230295 6.95814C0.190035 8.72983 0.834363 10.4488 2.02924 11.7576C3.22412 13.0663 4.87756 13.864 6.64558 13.9847C8.41361 14.1053 10.1601 13.5398 11.5218 12.4056L16.2418 17.1256L17.1256 16.2418ZM1.50064 7.12564C1.50064 6.01312 1.83054 4.92558 2.44862 4.00055C3.0667 3.07553 3.94521 2.35456 4.97304 1.92881C6.00088 1.50307 7.13188 1.39168 8.22302 1.60872C9.31416 1.82576 10.3164 2.36149 11.1031 3.14816C11.8898 3.93483 12.4255 4.93711 12.6426 6.02825C12.8596 7.1194 12.7482 8.2504 12.3225 9.27823C11.8967 10.3061 11.1757 11.1846 10.2507 11.8027C9.32569 12.4207 8.23816 12.7506 7.12564 12.7506C5.6343 12.749 4.20452 12.1558 3.14999 11.1013C2.09545 10.0468 1.50229 8.61697 1.50064 7.12564Z"
            fill="#808080"
          />
        </svg>
      </slot>
    </div>
    <component
      :is="isTextarea ? 'textarea' : 'input'"
      :value="modelValue"
      @input="$emit('update:modelValue', $event.target.value)"
      ref="input"
      v-bind="$attrs"
      :type="type"
      :class="[
        $style.input,
        info && info.length && $style.infoInputPadding,
        isTextarea && $style.textarea,
      ]"
      :disabled="isDisabled || isLoading"
      @keydown="$emit('update:isError')"
      v-maska
      :data-maska="maskPattern"
      :data-maska-tokens="dataMaskTokens"
    />
    <div :class="$style.clear">
      <slot
        name="close-icon"
        :isShowCloseButton="isShowCloseButton"
        :clear="clearInput"
      >
        <svg
          viewBox="0 0 14 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          v-if="isLoading && !isTextarea"
          :class="$style.loaderIcon"
        >
          <g id="&#196;&#176;cons/loader">
            <path
              id="Union"
              d="M7 1.5C5.70632 1.5 4.44729 1.91813 3.41063 2.69205C2.37397 3.46596 1.61522 4.55421 1.24749 5.79452C0.879769 7.03484 0.922777 8.36079 1.3701 9.57467C1.81743 10.7886 2.64511 11.8253 3.72975 12.5305C4.81438 13.2356 6.09786 13.5712 7.38882 13.4874C8.67978 13.4036 9.90907 12.9047 10.8934 12.0652C11.8777 11.2258 12.5644 10.0906 12.8509 8.82911C13.1375 7.56757 13.0087 6.24719 12.4836 5.06485L11.4068 5.54305C11.8287 6.49321 11.9323 7.5543 11.702 8.56811C11.4717 9.58192 10.9199 10.4941 10.1288 11.1688C9.33781 11.8434 8.34992 12.2443 7.31247 12.3116C6.27502 12.379 5.24357 12.1093 4.37193 11.5426C3.50029 10.976 2.83514 10.1428 2.47566 9.16726C2.11617 8.19176 2.08161 7.12619 2.37712 6.12943C2.67264 5.13268 3.2824 4.25813 4.11548 3.63619C4.94857 3.01425 5.96036 2.67823 7 2.67823V1.5Z"
              fill="#808080"
            />
          </g>
        </svg>
        <svg
          viewBox="0 0 14 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          v-else-if="isShowCloseButton && !isTextarea && !isPassword"
          @click="clearInput"
        >
          <g id="&#196;&#176;cons/close">
            <path
              id="Vector"
              d="M12.25 3.16875L11.3313 2.25L7 6.58125L2.66875 2.25L1.75 3.16875L6.08125 7.5L1.75 11.8313L2.66875 12.75L7 8.41875L11.3313 12.75L12.25 11.8313L7.91875 7.5L12.25 3.16875Z"
              fill="#808080"
            />
          </g>
        </svg>

        <svg
          viewBox="0 0 21 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          v-if="isPassword && !isShowPassword"
          :class="[isShowPassword && $style.activeShowPass]"
          @click="isShowPassword = !isShowPassword"
        >
          <g id="&#196;&#176;cons/view-off">
            <path
              id="Vector"
              d="M3.77473 14.0688L4.66848 13.1812C3.68987 12.3026 2.92097 11.2154 2.41848 10C3.68723 6.83125 7.18723 4.375 10.4997 4.375C11.3522 4.38625 12.1969 4.5383 12.9997 4.825L13.9685 3.85C12.8701 3.38583 11.692 3.13959 10.4997 3.125C8.46256 3.20161 6.49248 3.87347 4.83299 5.05755C3.17349 6.24164 1.89733 7.88603 1.16223 9.7875C1.11259 9.92482 1.11259 10.0752 1.16223 10.2125C1.71739 11.6856 2.6125 13.0069 3.77473 14.0688Z"
              fill="#808080"
            />
            <path
              id="Vector_2"
              d="M8 9.83125C8.04346 9.23232 8.30106 8.66905 8.72568 8.24443C9.1503 7.81981 9.71357 7.56221 10.3125 7.51875L11.4438 6.38125C10.8099 6.21434 10.1433 6.21651 9.51047 6.38754C8.87767 6.55857 8.30076 6.89248 7.83725 7.356C7.37373 7.81951 7.03982 8.39642 6.86879 9.02922C6.69776 9.66202 6.69559 10.3286 6.8625 10.9625L8 9.83125ZM19.8375 9.7875C19.1208 7.92075 17.8738 6.30439 16.25 5.1375L19.25 2.13125L18.3687 1.25L1.75 17.8687L2.63125 18.75L5.81875 15.5625C7.23992 16.3963 8.85253 16.8484 10.5 16.875C12.5372 16.7984 14.5073 16.1265 16.1667 14.9424C17.8262 13.7584 19.1024 12.114 19.8375 10.2125C19.8871 10.0752 19.8871 9.92482 19.8375 9.7875ZM13 10C12.9974 10.4376 12.8799 10.8668 12.6594 11.2447C12.4389 11.6227 12.1231 11.9361 11.7435 12.1538C11.3639 12.3714 10.9338 12.4856 10.4962 12.485C10.0587 12.4843 9.62894 12.3688 9.25 12.15L12.65 8.75C12.8747 9.12858 12.9954 9.55978 13 10ZM10.5 15.625C9.18879 15.6021 7.90243 15.2634 6.75 14.6375L8.3375 13.05C9.05959 13.551 9.93471 13.7825 10.8101 13.704C11.6855 13.6256 12.5055 13.2421 13.1269 12.6207C13.7484 11.9992 14.1318 11.1792 14.2103 10.3038C14.2888 9.42846 14.0573 8.55333 13.5562 7.83125L15.35 6.0375C16.7841 7.02186 17.9056 8.39714 18.5812 10C17.3125 13.1687 13.8125 15.625 10.5 15.625Z"
              fill="#808080"
            />
          </g>
        </svg>
        <svg
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          v-if="isPassword && isShowPassword"
          :class="$style.activeShowPass"
          @click="isShowPassword = !isShowPassword"
        >
          <g id="&#196;&#176;cons/eye-on">
            <path
              id="Vector"
              d="M19.375 9.75C17.875 5.875 14.125 3.25 10 3.125C5.875 3.25 2.125 5.875 0.625 9.75C0.625 9.875 0.625 10 0.625 10.125C2.125 14 5.75 16.625 10 16.75C14.125 16.625 17.875 14 19.375 10.125C19.375 10.125 19.375 9.875 19.375 9.75ZM10 15.625C6.625 15.625 3.25 13.125 1.875 10C3.125 6.875 6.625 4.375 10 4.375C13.375 4.375 16.75 6.875 18.125 10C16.75 13.125 13.25 15.625 10 15.625Z"
              fill="#808080"
            />
            <path
              id="Vector_2"
              d="M10 6.25C7.875 6.25 6.25 7.875 6.25 10C6.25 12.125 7.875 13.75 10 13.75C12.125 13.75 13.75 12.125 13.75 10C13.75 7.875 12.125 6.25 10 6.25ZM10 12.5C8.625 12.5 7.5 11.375 7.5 10C7.5 8.625 8.625 7.5 10 7.5C11.375 7.5 12.5 8.625 12.5 10C12.5 11.375 11.375 12.5 10 12.5Z"
              fill="#808080"
            />
          </g>
        </svg>
        <div v-if="isSuccess" :class="$style.successIcon">
          <slot name="successIcon">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g id="&#196;&#176;cons/check">
                <path
                  id="Vector"
                  d="M8.125 15.0009L2.5 9.37594L3.38375 8.49219L8.125 13.2328L16.6163 4.74219L17.5 5.62594L8.125 15.0009Z"
                  fill="#007C65"
                />
              </g>
            </svg>
          </slot>
        </div>
      </slot>
    </div>
    <slot name="append"></slot>
    <div :class="[$style.extra, $slots.extra && isError && $style.withExtra]">
      <div>
        <slot name="extra"></slot>
      </div>
      <div :class="$style.errorText" v-if="isError">
        {{ errorText }}
      </div>
    </div>
    <div
      :class="[$style.commentTextarea, commentTextAreaStyle]"
      v-if="isTextarea"
    >
      <slot name="comment" />
    </div>
    <Dropdown
      :placement="DropdownPlacement.Right"
      :class="$style.info"
      v-if="info"
    >
      <template #trigger>
        <slot name="info-trigger">
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            :class="[$style.infoTrigger, isError && $style.infoTriggerError]"
          >
            <g id="information_16" opacity="0.5">
              <path
                id="Vector"
                d="M10.625 13.75V8.125H8.125V9.375H9.375V13.75H7.5V15H12.5V13.75H10.625ZM10 4.375C9.5 4.375 9 4.75 9 5.375C9 6 9.5 6.25 10 6.25C10.5 6.25 11 5.875 11 5.25C11 4.625 10.5 4.375 10 4.375Z"
                fill="#808080"
              />
              <path
                id="Vector_2"
                d="M10 18.75C5.125 18.75 1.25 14.875 1.25 10C1.25 5.125 5.125 1.25 10 1.25C14.875 1.25 18.75 5.125 18.75 10C18.75 14.875 14.875 18.75 10 18.75ZM10 2.5C5.875 2.5 2.5 5.875 2.5 10C2.5 14.125 5.875 17.5 10 17.5C14.125 17.5 17.5 14.125 17.5 10C17.5 5.875 14.125 2.5 10 2.5Z"
                fill="#808080"
              />
            </g>
          </svg>
        </slot>
      </template>
      <template #dropdown>
        <slot name="info-content">
          <div :class="$style.infoContent">
            <ul>
              <li v-for="item in info" :key="item">{{ item }}</li>
            </ul>
          </div>
        </slot>
      </template>
    </Dropdown>
  </div>
</template>

<style module lang="scss">
.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 8px;

  font-size: 14px;
  line-height: 120%;

  box-sizing: border-box;

  transition: all 0.3s ease-in-out;

  @media (max-width: 768px) {
    font-size: 12px;
  }

  @media (min-width: 2560px) {
    font-size: 24px;
    padding: 21px 24px;
  }
}

.default {
  background: #fff;
  color: #808080;
  border: 1px solid #fff;
  &:hover {
    border: 1px solid rgba(203, 203, 204, 0.5);
    background: #fff;
  }

  &.active {
    border: 1px solid rgba(14, 137, 230, 0.4);
    background: #fff;
  }
}

.blue {
  background: #f4f9fd;
  color: #808080;
  border: 1px solid #f4f9fd;
  &:hover {
    background: linear-gradient(
        0deg,
        rgba(14, 137, 230, 0.08) 0%,
        rgba(14, 137, 230, 0.08) 100%
      ),
      #fff;
    border: 1px solid #f4f9fd;

    .commentTextarea {
      background: linear-gradient(
          0deg,
          rgba(14, 137, 230, 0.08) 0%,
          rgba(14, 137, 230, 0.08) 100%
        ),
        #fff;
    }
  }

  &.active {
    border: 1px solid rgba(14, 137, 230, 0.4);
    background: #fff;

    .commentTextarea {
      background: white;
    }
  }

  .commentTextarea {
    background: #f4f9fd;
  }
}

.withLabel {
  margin: 20px 0;
}

.withExtraContainer {
  margin-bottom: 40px !important;
}

.icon {
  margin-right: 8px;
  display: flex;
  align-items: center;

  width: 16px;
  height: 16px;

  @media (max-width: 768px) {
    width: 12px;
    height: 12px;
  }

  @media (min-width: 2560px) {
    width: 30px;
    height: 30px;
  }
}

.input {
  border: none;
  background: none;
  outline: none;
  width: 100%;
  color: black;

  @media (min-width: 2560px) {
    font-size: 24px;
  }
}

.clear {
  display: flex;
  align-items: center;
  margin-right: 8px;
  width: 14px;
  height: 15px;

  &:hover {
    cursor: pointer;
  }
  @media (min-width: 2560px) {
    width: 30px;
    height: 30px;
  }
}

.loaderIcon {
  animation: rotate 1s ease infinite;
}

.activeShowPass {
  path {
    fill: rgba(7, 56, 244, 0.4);
  }
}

.extra {
  position: absolute;
  left: 0;
  bottom: -20px;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    font-size: 10px;
  }

  @media (min-width: 2560px) {
    font-size: 24px;
  }
}

.withExtra {
  bottom: -40px;

  @media (min-width: 2560px) {
    bottom: -80px;
  }
}

.info {
  position: absolute;
  right: -40px;

  @media (max-width: 768px) {
    right: 40px;
    top: 5px;
  }
}

.infoInputPadding {
  @media (max-width: 768px) {
    padding-right: 25px;
  }
}

.infoTrigger {
  cursor: pointer;
  margin-top: 5px;
}

.infoTriggerError {
  g {
    opacity: 1;
  }
  path {
    fill: #d1002f;
  }
}

.infoContent {
  padding: 14px 16px;
  background: #fff;
  box-shadow:
    0 4px 15px 0 rgba(95, 105, 131, 0.14),
    0 5px 4px 0 rgba(95, 105, 131, 0.06),
    0 0 4px 0 rgba(95, 105, 131, 0.06);

  ul {
    padding-left: 20px;
    list-style-type: disc;
  }

  li {
    color: gray;
    font-size: 14px;
    line-height: 150%;
  }
}

.errorText {
  color: #d1002f;
  font-size: 12px;
  line-height: 150%;

  @media (max-width: 768px) {
    font-size: 10px;
  }

  @media (min-width: 2560px) {
    font-size: 24px;
  }
}

.successIcon {
  margin-left: 5px;
  height: 20px;
}

.label {
  position: absolute;
  left: 0;
  top: -20px;
  display: inline-block;

  color: #333;
  font-size: 12px;
  line-height: 150%;
  user-select: none;

  @media (min-width: 2560px) {
    top: -35px;
    font-size: 24px;
  }
}

.textarea {
  resize: none;
  padding-bottom: 22px;
}

.commentTextarea {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: calc(100% - 10px);
  background: white;
}

.error {
  border: 1px solid #d1002f !important;
  background: #fff !important;

  .commentTextarea {
    background: white !important;
  }
}

.success {
  background: #fff !important;
  border: 1px solid #89cd21;
}

.loading {
  border: 1px solid #ccc;
}

.disabled {
  opacity: 0.5;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
