<script setup lang="ts" name="AutocompleteItem">
import { computed } from "vue";

const props = withDefaults(
  defineProps<{
    text: string;
    search: string;
  }>(),
  {
    text: "",
    search: "",
  },
);

const styleText = computed(() => {
  return props.text.replace(
    new RegExp(props.search, "g"),
    `<span class="active">${props.search}</span>`,
  );
});
</script>

<template>
  <div :class="$style.container">
    <span v-html="styleText" />
  </div>
</template>

<style module lang="scss">
.container {
  padding: 6px 8px;
  &:hover {
    background: #f2f2f2;
    cursor: pointer;
  }
}

.text {
  color: #2b2b2b;

  font-variant-numeric: lining-nums tabular-nums;
  font-size: 14px;
  line-height: 142.85%;
}
</style>
<style>
.active {
  color: #0e89e6;
}
</style>
