<script setup lang="ts" name="Autocomplete">
import Input from "../../Input";
import { computed, ref, watch, nextTick } from "vue";
import AutocompleteItem from "./autocomplete-item.vue";
import type { AutocompleteItemInterface } from "./AutocompleteItem.interface";

export interface InputProps {
  modelValue: string;
  autoCompleteList?: Array<AutocompleteItemInterface> | null;
}

const props = withDefaults(defineProps<InputProps>(), {
  modelValue: "",
  autoCompleteList: null,
});

const emit = defineEmits(["update:modelValue"]);

const isSelectItem = ref(false);

const isShowList = computed(() => {
  return (
    props.modelValue.length &&
    props.autoCompleteList &&
    props.autoCompleteList.length &&
    !isSelectItem.value
  );
});

const searchList = computed(() => {
  if (!props.autoCompleteList) {
    return [];
  }
  return props.autoCompleteList.filter((item) =>
    item.title.toLowerCase().includes(props.modelValue.toLowerCase()),
  );
});

const selectItem = (item: AutocompleteItemInterface) => {
  emit("update:modelValue", item.title);
  nextTick(() => {
    isSelectItem.value = true;
  });
};

watch(
  () => props.modelValue,
  () => {
    isSelectItem.value = false;
  },
);
</script>

<template>
  <div :class="$style.container">
    <Input
      v-bind="$attrs"
      :model-value="modelValue"
      @update:model-value="(val: any) => emit('update:modelValue', val)"
    />
    <Transition>
      <div :class="$style.list" v-if="isShowList">
        <TransitionGroup name="list">
          <AutocompleteItem
            v-for="item in searchList"
            :key="item.id"
            :search="modelValue"
            :text="item.title"
            @click="selectItem(item)"
          />
        </TransitionGroup>
      </div>
    </Transition>
  </div>
</template>

<style module lang="scss">
.container {
  position: relative;
  width: 100%;
}

.list {
  z-index: 1000;
  position: absolute;
  top: calc(100% + 4px);
  width: 100%;
  max-height: 165px;
  height: max-content;
  background: #fff;
  overflow-y: scroll;

  box-shadow:
    0 4px 30px 0 rgba(95, 105, 131, 0.12),
    0 5px 4px 0 rgba(95, 105, 131, 0.05),
    0 0 4px 0 rgba(95, 105, 131, 0.06);
}
</style>
<style>
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
</style>
