<script setup lang="ts" name="CountPerPage">
import { TitlePositionEnum } from "./title-position.enum";

const props = withDefaults(
  defineProps<{
    title: string;
    options: Array<number>;
    position?: TitlePositionEnum;
    modelValue: number;
  }>(),
  {
    title: "",
    options: () => [10, 20, 50, 100],
    position: TitlePositionEnum.LEFT,
  },
);

const emit = defineEmits<{
  (e: "update:modelValue", value: number): void;
  (e: "update", value: number): void;
}>();

const updateModelValue = (value: number) => {
  emit("update:modelValue", value);
  emit("update", value);
};
</script>

<template>
  <div
    :class="[
      $style.positions,
      position === TitlePositionEnum.RIGHT && $style.revertList,
    ]"
  >
    <p>{{ title }}</p>
    <div>
      <button
        v-for="position in options"
        :key="position"
        :class="[
          $style.position,
          modelValue === position && $style.activePosition,
        ]"
        @click="updateModelValue(position)"
      >
        {{ position }}
      </button>
    </div>
  </div>
</template>

<style module lang="scss">
.positions {
  margin-left: auto;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  color: #8e8e8d;
  width: max-content;
}

.revertList {
  flex-direction: row-reverse;
}

.position {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 24px;
  color: #8e8e8d;
  margin-right: 10px;
  cursor: pointer;

  &:first-child {
    margin-left: 10px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.activePosition {
  text-decoration: underline;
}
</style>
