<script setup lang="ts" name="CheckBox">
import { computed } from "vue";
import { LabelPosition } from "./LabelPosition.enum";

const props = withDefaults(
  defineProps<{
    label?: string;
    modelValue: boolean;
    isSmall?: boolean;
    labelPosition?: LabelPosition;
    rounded?: boolean;
    disabled?: boolean;
    size?: "xs" | "small" | "big";
  }>(),
  {
    label: "",
    modelValue: false,
    isSmall: false,
    isXs: false,
    labelPosition: LabelPosition.RIGHT,
    rounded: false,
    disabled: false,
    size: "big",
  },
);

const isChecked = computed(() => {
  return Boolean(props.modelValue);
});

const sizeClass = computed(() => {
  return props.isSmall ? "small" : props.size ? props.size : "big";
});
</script>
<template>
  <label :class="[$style.label, $style[labelPosition]]">
    <span
      :class="[
        $style.container,
        $style[sizeClass],
        isChecked && $style.activeContainer,
        rounded && $style.rounded,
        disabled && $style.disabled,
      ]"
    >
      <svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g id="check">
          <path
            id="Union"
            d="M8.11058 14C8.00623 14 7.90531 13.9819 7.80783 13.9458C7.71035 13.9102 7.61599 13.8505 7.52476 13.7667L4.22445 10.7353C4.06823 10.5918 3.99356 10.4095 4.00043 10.1885C4.00668 9.967 4.08792 9.78447 4.24414 9.64098C4.40036 9.49749 4.59563 9.42574 4.82996 9.42574C5.06429 9.42574 5.25957 9.49749 5.41579 9.64098L8.14995 12.1524L14.6137 6.21524C14.7699 6.07175 14.9618 6 15.1892 6C15.4173 6 15.6095 6.07175 15.7657 6.21524C15.9219 6.35873 16 6.53523 16 6.74473C16 6.95365 15.9219 7.12986 15.7657 7.27335L8.69641 13.7667C8.60517 13.8505 8.51082 13.9102 8.41334 13.9458C8.31585 13.9819 8.21494 14 8.11058 14Z"
            fill="white"
          />
        </g>
      </svg>
    </span>
    <span v-if="label"> {{ label }} </span>
    <input
      type="checkbox"
      :disabled="disabled"
      @change="
        $emit('update:modelValue', ($event.target! as HTMLInputElement).checked)
      "
      v-bind="$attrs"
      :value="modelValue"
      :checked="modelValue"
    />
  </label>
</template>

<style module lang="scss">
.label {
  display: flex;
  align-items: center;
  gap: 8px;

  max-width: max-content;

  color: rgba(43, 43, 43, 1);
  font-size: 16px;
  line-height: 24px;
  user-select: none;
  input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    visibility: hidden;
  }

  span {
    user-select: none;
  }

  &:hover {
    cursor: pointer;
  }

  &:hover .container {
    border: 1px solid #0e89e6;
  }
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(128, 128, 128, 0.4);

  background: rgba(255, 255, 255, 1);
}

.activeContainer {
  background: #0e89e6;
}

.disabled {
  background: #e0e0e0;
  border: 1px solid #e0e0e0 !important;

  &:hover {
    border: 1px solid #e0e0e0 !important;
    cursor: not-allowed;
  }
}

.big {
  width: 24px;
  height: 24px;
}

.small {
  width: 20px;
  height: 20px;
}

.xs {
  width: 16px;
  height: 16px;
}

.rounded {
  border-radius: 50%;
}

.top {
  flex-direction: column-reverse;
}
.right {
  flex-direction: row;
}

.bottom {
  flex-direction: column;
}

.left {
  flex-direction: row-reverse;
}
</style>
