<script setup lang="ts" name="Loader">
const props = withDefaults(
  defineProps<{
    size: "72px";
  }>(),
  {
    size: "72px",
  },
);
</script>

<template>
  <div :class="$style.loader"></div>
</template>

<style module lang="scss">
.loader {
  width: v-bind(size);
  height: v-bind(size);
  border: 8px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
