<script setup lang="ts">
import {
  Button,
  ButtonType,
  Label,
  CheckBox,
  Input,
  Select,
  Pagination,
  Toggle,
  InputType,
  Autocomplete,
  SelectType,
  CountPerPage,
  Loader,
} from "../packages";
import { ref } from "vue";

const checkValue = ref(false);
const valueInput = ref("");
const valueInputNumber = ref("");
const select = ref<string>("");
const multiSelect = ref<Array<string>>([]);

const currentPage = ref(1);

const totalPages = ref(52);
const toggleValue = ref(false);

const typeList = [
  {
    value: "Test",
    label: "Требуется дополнительная информация",
  },
  {
    value: "Test1",
    label: "Test1",
  },
];

const searchAutocomplete = ref("");

const autoCompleteList = [
  {
    id: 1,
    title: "Васильев К.Е",
  },
  {
    id: 1,
    title: "Андреев А.А",
  },
  {
    id: 1,
    title: "Максимов В.В",
  },
  {
    id: 1,
    title: "Максимова К.Ш",
  },
  {
    id: 1,
    title: "Андреева А.О",
  },
  {
    id: 1,
    title: "Кириллов У.Н",
  },
];

const activeCountPerPage = ref(10);
</script>

<template>
  <div>
    <div class="block">
      <h2>Labels</h2>
      <div class="col">
        <div>
          <h4 class="typeTitle">Default (blue):</h4>
          <Label> Test </Label>
        </div>
        <div>
          <h4 class="typeTitle">Green:</h4>
          <Label type="green"> Test </Label>
        </div>
      </div>
    </div>
    <div class="block">
      <h2>Button</h2>
      <div class="row">
        <div>
          <h4 class="typeTitle">Blue:</h4>
          <Button :type="ButtonType.BLUE"> Blue </Button>
        </div>
        <div>
          <h4 class="typeTitle">Blue Disabled:</h4>
          <Button :type="ButtonType.BLUE" is-disabled> Blue </Button>
        </div>
        <div>
          <h4 class="typeTitle">Blue loading:</h4>
          <Button :type="ButtonType.BLUE" is-loading> Blue </Button>
        </div>
        <div>
          <h4 class="typeTitle">Accent:</h4>
          <Button :type="ButtonType.ACCENT"> Accent </Button>
        </div>
        <div>
          <h4 class="typeTitle">Secondary:</h4>
          <Button :type="ButtonType.SECONDARY"> Secondary </Button>
        </div>
        <div>
          <h4 class="typeTitle">White:</h4>
          <Button :type="ButtonType.WHITE"> White </Button>
        </div>
        <div>
          <h4 class="typeTitle">Text:</h4>
          <Button :type="ButtonType.TEXT"> Text </Button>
        </div>
        <div>
          <h4 class="typeTitle">Link:</h4>
          <Button :type="ButtonType.BLUE" href="/slash"> Link </Button>
        </div>
        <div>
          <h4 class="typeTitle">Sky blue:</h4>
          <Button :type="ButtonType.SKYBLUE" href="/slash">
            <template #icon>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="14"
                height="14"
                viewBox="0 0 14 14"
                fill="none"
              >
                <path
                  d="M7 1.75C8.225 1.75 9.1875 2.7125 9.1875 3.9375C9.1875 5.1625 8.225 6.125 7 6.125C5.775 6.125 4.8125 5.1625 4.8125 3.9375C4.8125 2.7125 5.775 1.75 7 1.75ZM7 0.875C5.3375 0.875 3.9375 2.275 3.9375 3.9375C3.9375 5.6 5.3375 7 7 7C8.6625 7 10.0625 5.6 10.0625 3.9375C10.0625 2.275 8.6625 0.875 7 0.875ZM11.375 13.125H10.5V10.9375C10.5 9.7125 9.5375 8.75 8.3125 8.75H5.6875C4.4625 8.75 3.5 9.7125 3.5 10.9375V13.125H2.625V10.9375C2.625 9.275 4.025 7.875 5.6875 7.875H8.3125C9.975 7.875 11.375 9.275 11.375 10.9375V13.125Z"
                  fill="white"
                />
              </svg>
            </template>
            Sky blue
          </Button>
        </div>
      </div>
    </div>
    <div class="block">
      <h2>CheckBox</h2>
      <div>
        <CheckBox v-model="checkValue" is-small />
      </div>
    </div>
    <div class="block">
      <h2>CheckBox disabled</h2>
      <div>
        <CheckBox v-model="checkValue" disabled size="xs" />
      </div>
    </div>
    <div class="block">
      <h2>Input</h2>
      <div>
        <h4 class="typeTitle">Base:</h4>
        <Input
          v-model="valueInput"
          placeholder="Test"
          label="Test"
          :is-error="true"
          :error-text="'test error'"
        >
          <template #append> Label </template>
          <template #extra> Extra </template>
        </Input>
      </div>
      <div>
        <h4 class="typeTitle">Blue:</h4>
        <Input
          v-model="valueInput"
          placeholder="Test"
          :input-type="InputType.BLUE"
          type="password"
        />
      </div>
      <div>
        <h4 class="typeTitle">Phone:</h4>
        <Input
          v-model="valueInputNumber"
          maskPattern="+7 (###)-###-##-##"
          placeholder="+7 (___)-___-__-__"
        />
      </div>
      <div>
        <h4 class="typeTitle">Textarea:</h4>
        <Input
          :input-type="InputType.BLUE"
          v-model="valueInput"
          is-textarea
          rows="7"
          placeholder="Test"
          label="Test"
          :is-error="true"
          :error-text="'test error asd asd asd asd asd asd asd asd asd asd asd asdasdasdasd '"
        >
          <template #append> Label </template>
          <template #comment> Label </template>
          <template #extra>
            Extraasd asd asd asd asd asd asd asd asd asd asd asd asd asd asd
          </template>
        </Input>
      </div>
    </div>
    <div class="block">
      <h2>Select</h2>
      <div style="width: 100px">
        <Select
          :options="typeList"
          v-model="select"
          placeholder="Test"
          with-search
          info-text="info text"
        />
      </div>
    </div>
    <div class="block">
      <h2>Select only read</h2>
      <div style="width: 100px">
        <Select
          :with-big-adaptive="false"
          :options="typeList"
          v-model="select"
          placeholder="Test"
          only-read
          only-read-text="only read text"
        />
      </div>
    </div>
    <div class="block">
      <h2>Select Blue</h2>
      <div style="width: 100px">
        <Select
          :select-type="SelectType.BLUE"
          :options="typeList"
          v-model="select"
          placeholder="Test"
          with-search
        />
      </div>
    </div>
    <div class="block">
      <h2>Select array</h2>
      <div style="width: 100px">
        <Select
          :options="typeList"
          v-model="multiSelect"
          placeholder="Test"
          with-search
        />
      </div>
    </div>
    <div class="block">
      <h2>Select icon</h2>
      <div style="width: 100px">
        <Select
          :select-type="SelectType.ICON"
          :options="typeList"
          v-model="multiSelect"
          placeholder="Test"
          with-search
        />
      </div>
    </div>
    <div class="block">
      <h2>Pagination</h2>
      <Pagination :total="totalPages" v-model="currentPage" />
    </div>
    <div class="block">
      <h2>Toggle</h2>
      <Toggle v-model="toggleValue" />
    </div>

    <div class="block">
      <h2>Count Per Page</h2>
      <CountPerPage v-model="activeCountPerPage" title="Count Per Page" />
    </div>

    <div class="block">
      <h2>Autocomplete</h2>
      <Autocomplete
        placeholder="Поиск"
        :auto-complete-list="autoCompleteList"
        v-model="searchAutocomplete"
      />
    </div>
  </div>
  <div class="block">
    <h2>Loader</h2>
    <Loader />
  </div>
</template>

<style scoped>
.block {
  margin-bottom: 40px;

  h2 {
    margin: 0 0 10px 0;
  }
}

.col {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.row {
  display: flex;
  gap: 16px;
}

.typeTitle {
  margin: 0 0 6px 0;
}
</style>
