<script setup lang="ts" name="Pagination">
import { computed } from "vue";
import { useMediaQuery } from "@vueuse/core";

enum ListType {
  SHORT,
  FIRST,
  MIDDLE,
  LAST,
}

const emit = defineEmits<{
  (e: "update:modelValue", value: number): void;
  (e: "update"): void;
}>();

const isSmallViewport = useMediaQuery("(max-width: 500px)");

const props = defineProps<{
  modelValue: number;
  total: number;
}>();

const arraysSettings = computed(() => {
  return {
    first: {
      length: isSmallViewport.value ? 5 : 9,
      step: 1,
    },
    middle: {
      length: isSmallViewport.value ? 3 : 7,
      step: isSmallViewport.value ? 1 : 3,
    },
    last: {
      length: isSmallViewport.value ? 5 : 9,
      step: isSmallViewport.value ? 4 : 8,
    },
  };
});

const currentListType = computed(() => {
  if (props.total < 12) {
    return ListType.SHORT;
  }
  if (props.modelValue < (isSmallViewport.value ? 5 : 6)) {
    return ListType.FIRST;
  }
  if (props.modelValue < props.total - (isSmallViewport.value ? 3 : 4)) {
    return ListType.MIDDLE;
  }

  return ListType.LAST;
});

const isShorList = computed(() => {
  return currentListType.value === ListType.SHORT;
});

const isFirstList = computed(() => {
  return currentListType.value === ListType.FIRST;
});

const isMiddleList = computed(() => {
  return currentListType.value === ListType.MIDDLE;
});

const isLastList = computed(() => {
  return currentListType.value === ListType.LAST;
});

const currentList = computed(() => {
  if (isShorList.value) {
    return Array.from(Array(props.total), (_, x) => x + 1);
  }

  if (isFirstList.value) {
    return Array.from(
      Array(arraysSettings.value.first.length),
      (_, x) => x + arraysSettings.value.first.step,
    );
  }

  if (isMiddleList.value) {
    return Array.from(
      Array(arraysSettings.value.middle.length),
      (_, x) => x + props.modelValue - arraysSettings.value.middle.step,
    );
  }

  return Array.from(
    Array(arraysSettings.value.last.length),
    (_, x) => x + props.total - arraysSettings.value.last.step,
  );
});

const updatePage = (page: number) => {
  emit("update:modelValue", page);
  emit("update");
};

const prevPage = () => {
  if (props.modelValue === 1) {
    return;
  }
  updatePage(props.modelValue - 1);
};

const nextPage = () => {
  if (props.modelValue === props.total) {
    return;
  }
  updatePage(props.modelValue + 1);
};
</script>

<template>
  <div :class="$style.pagination" v-if="total > 1">
    <svg
      v-if="!isShorList"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
      fill="none"
      :class="[$style.prev, $style.arrow, modelValue === 1 && $style.disabled]"
      @click="prevPage"
    >
      <path
        d="M7.76394 14.3173C7.58798 14.1391 7.5 13.9335 7.5 13.7007C7.5 13.4679 7.58798 13.2624 7.76394 13.0842L10.8188 10.0013L7.76394 6.91845C7.58798 6.74022 7.5 6.5347 7.5 6.30188C7.5 6.06907 7.58798 5.86354 7.76394 5.68531C7.94055 5.50708 8.14421 5.41797 8.37492 5.41797C8.60627 5.41797 8.80993 5.50708 8.98589 5.68531L12.6517 9.38473C12.7469 9.48075 12.815 9.58006 12.8561 9.68266C12.8965 9.78526 12.9167 9.89147 12.9167 10.0013C12.9167 10.1111 12.8965 10.2173 12.8561 10.3199C12.815 10.4225 12.7469 10.5219 12.6517 10.6179L8.98589 14.3173C8.80993 14.4955 8.60627 14.5846 8.37492 14.5846C8.14421 14.5846 7.94055 14.4955 7.76394 14.3173Z"
        :fill="modelValue === 1 ? '#808080' : '#0E89E6'"
      />
    </svg>
    <div :class="[$style.pagination]">
      <div
        :class="$style.item"
        v-if="!isFirstList && !isShorList"
        @click="updatePage(1)"
      >
        1
      </div>
      <div :class="$style.dot" v-if="!isFirstList && !isShorList">...</div>
      <div
        v-for="item in currentList"
        :key="item"
        :class="[$style.item, item === modelValue && $style.active]"
        @click="updatePage(item)"
      >
        {{ item }}
      </div>
      <div :class="$style.dot" v-if="!isLastList && !isShorList">...</div>
      <div
        :class="$style.item"
        v-if="!isLastList && !isShorList"
        @click="updatePage(total)"
      >
        {{ total }}
      </div>
    </div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
      fill="none"
      v-if="!isShorList"
      :class="[$style.arrow, modelValue === total && $style.disabled]"
      @click="nextPage"
    >
      <path
        d="M7.76394 14.3173C7.58798 14.1391 7.5 13.9335 7.5 13.7007C7.5 13.4679 7.58798 13.2624 7.76394 13.0842L10.8188 10.0013L7.76394 6.91845C7.58798 6.74022 7.5 6.5347 7.5 6.30188C7.5 6.06907 7.58798 5.86354 7.76394 5.68531C7.94055 5.50708 8.14421 5.41797 8.37492 5.41797C8.60627 5.41797 8.80993 5.50708 8.98589 5.68531L12.6517 9.38473C12.7469 9.48075 12.815 9.58006 12.8561 9.68266C12.8965 9.78526 12.9167 9.89147 12.9167 10.0013C12.9167 10.1111 12.8965 10.2173 12.8561 10.3199C12.815 10.4225 12.7469 10.5219 12.6517 10.6179L8.98589 14.3173C8.80993 14.4955 8.60627 14.5846 8.37492 14.5846C8.14421 14.5846 7.94055 14.4955 7.76394 14.3173Z"
        :fill="modelValue === total ? '#808080' : '#0E89E6'"
      />
    </svg>
  </div>
</template>

<style module lang="scss">
.pagination {
  display: flex;
  align-items: center;
  column-gap: 4px;

  @media (min-width: 2560px) {
    column-gap: 12px;
  }
}

.prev {
  transform: rotate(180deg);
}

.arrow {
  cursor: pointer;
  user-select: none;

  width: 20px;
  height: 20px;

  @media (min-width: 2560px) {
    width: 44px;
    height: 44px;
  }
}

.item {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  color: #0e89e6;
  cursor: pointer;
  user-select: none;

  &:hover:not(.active) {
    background: #0e89e6;
    color: white;
  }

  &:focus {
    border: 1px solid rgba(14, 137, 230, 0.3);
  }

  @media (min-width: 1920px) {
    width: 50px;
    height: 50px;
  }

  @media (min-width: 2560px) {
    width: 72px;
    height: 72px;
    font-size: 32px;
  }
}

.dot {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  color: #0e89e6;
  user-select: none;

  @media (min-width: 1920px) {
    width: 50px;
    height: 50px;
  }

  @media (min-width: 2560px) {
    width: 72px;
    height: 72px;
  }
}

.active {
  color: #fff;
  background: #0e89e6;
}

.disabled {
  cursor: inherit;
}
</style>
