<script setup lang="ts" name="Label">
const props = withDefaults(
  defineProps<{
    type: "blue" | "green" | "blueGreen" | "purple" | "gray";
  }>(),
  {
    type: "blue",
  },
);
</script>

<template>
  <div :class="[$style.label, $style[props.type]]">
    <slot />
  </div>
</template>

<style module lang="scss">
.label {
  width: max-content;
  height: max-content;
  border-radius: 25px;
  padding: 4px 7px;
  font-size: 12px;
  line-height: 16px;

  @media (max-width: 768px) {
    font-size: 10px;
    line-height: 14px;
    border-radius: 16px;
  }

  @media (min-width: 2560px) {
    padding: 6px 10px;
    font-size: 16px;
    line-height: 120%;
    border-radius: 33.333px;
  }
}

.blue {
  color: #0e89e6;
  background-color: rgba(14, 137, 230, 0.1);
}

.green {
  color: #6ad599;
  background-color: rgba(106, 213, 153, 0.1);
}

.blueGreen {
  color: #1fb4b3;
  background-color: rgba(31, 180, 179, 0.1);
}

.purple {
  color: #d880c5;
  background-color: rgba(216, 128, 197, 0.1);
}
.gray {
  color: #8e8e8d;
  background-color: rgba(39, 39, 38, 0.1);
}
</style>
