<script setup lang="ts" name="Button">
import { ButtonType } from "./ButtonType.enum";

const props = withDefaults(
  defineProps<{
    type?: ButtonType;
    href?: string;
    isDisabled?: boolean;
    isLoading?: boolean;
  }>(),
  {
    type: "primary" as ButtonType.BLUE,
    isDisabled: false,
    isLoading: false,
  },
);
</script>

<template>
  <component
    :is="href ? 'router-link' : 'button'"
    :class="[
      $style.button,
      $style[props.type],
      isDisabled && $style.disabled,
      isLoading && $style.loading,
    ]"
    :to="href"
    v-bind="$attrs"
    :disabled="isDisabled || isLoading"
  >
    <div v-if="!isLoading" :class="$style.content">
      <slot name="icon" />
      <section class="slot_default">
        <slot />
      </section>
    </div>
    <div v-else :class="$style.loadingWrapper">
      <svg
        :class="$style.loading"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
      >
        <path
          d="M12 6.58918C12 6.26382 11.7356 5.99707 11.4118 6.02896C10.3279 6.13573 9.28936 6.5361 8.41063 7.19211C7.37397 7.96603 6.61522 9.05427 6.24749 10.2946C5.87977 11.5349 5.92278 12.8609 6.3701 14.0747C6.81743 15.2886 7.64511 16.3254 8.72975 17.0305C9.81438 17.7356 11.0979 18.0713 12.3888 17.9875C13.6798 17.9036 14.9091 17.4048 15.8934 16.5653C16.8777 15.7258 17.5644 14.5907 17.8509 13.3292C18.0939 12.2598 18.0383 11.1482 17.6959 10.1142C17.5937 9.80534 17.2426 9.67197 16.9452 9.80402C16.6478 9.93607 16.5176 10.2836 16.6124 10.5948C16.856 11.3942 16.8886 12.2467 16.702 13.0682C16.4717 14.082 15.9199 14.9942 15.1288 15.6688C14.3378 16.3434 13.3499 16.7443 12.3125 16.8117C11.275 16.8791 10.2436 16.6093 9.37193 16.0427C8.50029 15.476 7.83514 14.6428 7.47566 13.6673C7.11617 12.6918 7.08161 11.6263 7.37712 10.6295C7.67264 9.63275 8.2824 8.7582 9.11548 8.13626C9.79052 7.63231 10.5829 7.31609 11.4123 7.21424C11.7353 7.17459 12 6.91454 12 6.58918Z"
        />
      </svg>
    </div>
    <div :class="$style.icon" v-if="type === ButtonType.TEXT && !isLoading">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
      >
        <path
          d="M9 3L8.285 3.6965L12.075 7.5H2V8.5H12.075L8.285 12.2865L9 13L14 8L9 3Z"
          fill="#0E89E6"
        />
      </svg>
    </div>
  </component>
</template>

<style module lang="scss">
.button {
  padding: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  max-height: 44px;
  height: 100%;

  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  border: none;
  outline: none;

  box-sizing: border-box;
  transition: all 0.1s ease;

  text-decoration-line: none;

  @media (max-width: 768px) {
    padding: 10px 12px;
    max-height: 37px;

    font-size: 14px;
    font-weight: 400;
    line-height: normal;
  }

  @media (min-width: 2560px) {
    padding: 20px;
    max-height: 59px;

    font-size: 24px;
    font-weight: 400;
    line-height: normal;
  }

  &:hover {
    cursor: pointer;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
}

.loadingWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    animation: rotate 1s ease infinite;
  }
}

.blue {
  border: 1px solid #0e89e6;
  background: #0e89e6;
  color: #fff;

  &:hover {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(255, 255, 255, 0.3) 100%
      ),
      #0e89e6;
  }

  &:focus-within {
    border: 1px solid #0171c7;

    background: #0e89e6;
  }

  &:active {
    background: initial;
    border: 1px solid #0e89e6;
    color: #0e89e6;
  }

  &.disabled {
    background: linear-gradient(
        0deg,
        rgba(43, 43, 43, 0.1) 0%,
        rgba(43, 43, 43, 0.1) 100%
      ),
      #fff;
    color: #8e8e8d;

    cursor: not-allowed;
  }

  &.loading {
    border: 1px solid #0e89e6;
    background: #0e89e6;
    color: #fff;
    cursor: not-allowed;
  }

  .loading {
    path {
      fill: white;
    }
  }
}

.accent {
  border: 1px solid #89cd21;
  background: #89cd21;
  color: #fff;

  &:hover {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0.2) 100%
      ),
      #89cd21;
  }

  &:focus-within {
    border: 1px solid #578a09;

    background: #89cd21;
  }

  &:active {
    background: initial;
    border: 1px solid #89cd21;
    color: #89cd21;
  }

  &.disabled {
    background: linear-gradient(
        0deg,
        rgba(43, 43, 43, 0.1) 0%,
        rgba(43, 43, 43, 0.1) 100%
      ),
      #fff;

    color: #8e8e8d;

    cursor: not-allowed;
  }

  &.loading {
    border: 1px solid #89cd21;
    background: #89cd21;
    color: #fff;
    cursor: not-allowed;
  }

  .loading {
    path {
      fill: white;
    }
  }
}

.white {
  border: 1px solid #fff;
  background: #fff;
  color: #272726;

  &:hover {
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.5);
  }

  &:focus-within {
    border: 1px solid rgba(14, 137, 230, 0.3);
    background: #fff;
  }

  &:active {
    background: initial;
    border: 1px solid #fff;
    color: #fff;
  }

  &.disabled {
    background: #fff;

    color: #cbcbcc;

    cursor: not-allowed;
  }

  &.loading {
    border: 1px solid #fff;
    background: #fff;
    cursor: not-allowed;
  }

  .loading {
    path {
      fill: #0e89e6;
    }
  }
}

.text {
  border: 1px solid transparent;
  color: #0e89e6;

  &:hover {
    text-decoration-line: underline;
  }

  &:focus-within {
    border: 1px solid rgba(14, 137, 230, 0.3);
  }

  &:active {
    opacity: 0.7;
  }

  &.disabled {
    color: #cbcbcc;

    svg {
      path {
        fill: #cbcbcc;
      }
    }

    cursor: not-allowed;
  }

  &.loading {
    color: #fff;
    cursor: not-allowed;
  }

  .loading {
    path {
      fill: #0e89e6;
    }
  }
}

.secondary {
  border: 1px solid rgba(14, 137, 230, 0.35);
  background: #fff;
  color: #272726;

  &:hover {
    border: 1px solid rgba(14, 137, 230, 0.35);
    background: rgba(14, 137, 230, 0.03);
  }

  &:active {
    border: 1px solid rgba(14, 137, 230, 0.35);
    background: rgba(14, 137, 230, 0.1);
  }

  &.disabled {
    border: 1px solid #cbcbcc;
    opacity: 0.7;
    cursor: not-allowed;
  }

  &.loading {
    border: 1px solid rgba(14, 137, 230, 0.2);
    background: #fff;
    cursor: not-allowed;
  }

  .loading {
    path {
      fill: #0e89e6;
    }
  }
}

.skyblue {
  border: 1px solid #0bbbef;
  background: #0bbbef;
  color: #fff;
  padding: 9px 10px;
  max-height: 36px;
  font-size: 12px;

  @media (max-width: 768px) {
    section {
      display: none;
    }
  }

  &:hover {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0.2) 100%
      ),
      #0bbbef;
  }

  &:focus-within {
    border: 1px solid #0e89e6;
    background: #0bbbef;
  }

  &:active {
    background: initial;
    border: 1px solid #0bbbef;
    color: #0bbbef;

    path {
      fill: #0bbbef;
    }
  }

  &.disabled {
    background: #cbcbcc;
    color: #fff;

    cursor: not-allowed;
  }

  &.loading {
    border: 1px solid #0bbbef;
    background: #0bbbef;
    color: #fff;
    cursor: not-allowed;
  }

  .loading {
    path {
      fill: white;
    }
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconBefore {
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
