<script setup lang="ts" name="Select">
import { computed, ref, watch } from "vue";
import { useI18n } from "vue-i18n";
import Input from "../../Input";
import { SelectItem } from "./SelectInterface.interface";
import { DropdownPlacement } from "../../Dropdown/src/DropdownPlacement.enum";
import Dropdown from "../../Dropdown";
import { SelectType } from "./Select.enum";
import CheckBox from "../../CheckBox";

const emit = defineEmits<{
  (
    e: "update:modelValue",
    value: string | number | Array<string | number>,
  ): void;
  (e: "update"): void;
}>();

const props = withDefaults(
  defineProps<{
    options: Array<SelectItem>;
    modelValue: string | Array<string>;
    triggerClass?: string;
    label?: string;
    isLoading?: boolean;
    isDisabled?: boolean;
    isError?: boolean;
    isSuccess?: boolean;
    errorText?: string;
    withSearch?: boolean;
    isNeedClear?: boolean;
    selectType?: SelectType;
    placement?: DropdownPlacement;
    infoText?: string;
    onlyRead?: boolean;
    onlyReadText?: string;
    withBigAdaptive: boolean;
  }>(),
  {
    withSearch: false,
    isNeedClear: true,
    selectType: SelectType.DEFAULT,
    placement: DropdownPlacement.BottomStart,
    modelValue: "",
    withBigAdaptive: true,
  },
);

const searchValue = ref("");

const isShowContent = ref(false);

const searchOptions = computed<SelectItem[]>(() => {
  return props.options.filter((item) =>
    item.label.toLowerCase().includes(searchValue.value.toLowerCase()),
  );
});

const activeLabel = computed(() => {
  const activeOptions = props.options.find(
    (item) => item.value === props.modelValue,
  );

  if (activeOptions) {
    return activeOptions.label;
  }

  return "";
});

const selectItem = (item: SelectItem, hide?: () => void) => {
  if (props.modelValue instanceof Array) {
    if (item.value === "") {
      emit("update:modelValue", []);
      emit("update");
      return;
    }

    const currentItem = props.modelValue.includes(item.value);
    if (currentItem) {
      emit(
        "update:modelValue",
        props.modelValue.filter((value) => value !== item.value),
      );
    } else {
      emit("update:modelValue", [...props.modelValue, item.value]);
    }
    emit("update");
  } else {
    emit("update:modelValue", item.value);
    emit("update");

    if (hide) {
      hide();
    }
  }
};

const { locale } = useI18n();

const locales = {
  en: {
    search: "Search",
    clear: "Clear",
  },
  ru: {
    search: "Поиск",
    clear: "Очистить",
  },
  ba: {
    search: "Эҙләү",
    clear: "Таҙартыу",
  },
};

const searchLabel = computed(() => {
  return locales[locale.value as keyof typeof locales].search;
});

const clearLabel = computed(() => {
  return locales[locale.value as keyof typeof locales].clear;
});

const checkOnlyRead = (e: Event) => {
  if (!props.onlyRead) {
    isShowContent.value = true;
  }
};

watch(
  () => isShowContent.value,
  (value) => {
    if (!value) {
      searchValue.value = "";
    }
  },
);
</script>

<template>
  <div :class="$style.container">
    <div :class="$style.label" v-if="label">{{ label }}</div>
    <Dropdown
      :placement="placement"
      auto-boundary-max-size
      :overflow-padding="100"
      :only-read="onlyRead"
      @hideDropdown="isShowContent = false"
    >
      <template #trigger>
        <div :class="$style.triggerContainer">
          <div v-if="isLoading" :class="$style.loaderContainer">
            <svg
              width="14"
              height="15"
              viewBox="0 0 14 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              :class="$style.loaderIcon"
            >
              <g id="&#196;&#176;cons/loader">
                <path
                  id="Union"
                  d="M7 1.5C5.70632 1.5 4.44729 1.91813 3.41063 2.69205C2.37397 3.46596 1.61522 4.55421 1.24749 5.79452C0.879769 7.03484 0.922777 8.36079 1.3701 9.57467C1.81743 10.7886 2.64511 11.8253 3.72975 12.5305C4.81438 13.2356 6.09786 13.5712 7.38882 13.4874C8.67978 13.4036 9.90907 12.9047 10.8934 12.0652C11.8777 11.2258 12.5644 10.0906 12.8509 8.82911C13.1375 7.56757 13.0087 6.24719 12.4836 5.06485L11.4068 5.54305C11.8287 6.49321 11.9323 7.5543 11.702 8.56811C11.4717 9.58192 10.9199 10.4941 10.1288 11.1688C9.33781 11.8434 8.34992 12.2443 7.31247 12.3116C6.27502 12.379 5.24357 12.1093 4.37193 11.5426C3.50029 10.976 2.83514 10.1428 2.47566 9.16726C2.11617 8.19176 2.08161 7.12619 2.37712 6.12943C2.67264 5.13268 3.2824 4.25813 4.11548 3.63619C4.94857 3.01425 5.96036 2.67823 7 2.67823V1.5Z"
                  fill="#808080"
                />
              </g>
            </svg>
          </div>
          <div
            :class="[
              $style[selectType],
              $style.trigger,
              triggerClass,
              modelValue.length && $style.active,
              withBigAdaptive && $style.triggerBigAdaptive,
              {
                [$style.error]: isError,
                [$style.success]: isSuccess,
                [$style.loading]: isLoading,
                [$style.disabled]: isDisabled,
              },
            ]"
            @click="checkOnlyRead"
          >
            <slot
              name="trigger"
              :activeValue="modelValue || $attrs.placeholder || 'Select'"
            >
              <div v-if="selectType !== 'icon'" :class="$style.select">
                <span>
                  {{
                    onlyRead
                      ? onlyReadText
                      : activeLabel || $attrs.placeholder || "Select"
                  }}
                </span>
                <svg
                  v-if="!isLoading"
                  viewBox="0 0 11 6"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  :class="[
                    $style.arrow,
                    isShowContent && $style.rotate,
                    withBigAdaptive && $style.arrowBigAdaptive,
                  ]"
                >
                  <path
                    d="M5.15009 5.85039L0.150085 0.850391L0.850085 0.150391L5.15009 4.45039L9.45009 0.150391L10.1501 0.850391L5.15009 5.85039Z"
                    fill="#808080"
                  />
                </svg>
              </div>
              <svg
                v-else
                xmlns="http://www.w3.org/2000/svg"
                width="36"
                height="36"
                viewBox="0 0 36 36"
                fill="none"
              >
                <path
                  d="M27.5 9.44922H8.5L16.1 18.4362V24.6492L19.9 26.5492V18.4362L27.5 9.44922Z"
                  stroke="#8E8E8D"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </slot>
          </div>
          <div
            :class="[
              $style.errorText,
              withBigAdaptive && $style.errorTextBigAdaptive,
            ]"
            v-if="isError"
          >
            {{ errorText }}
          </div>
          <div
            :class="[
              $style.infoText,
              withBigAdaptive && $style.infoTextBigAdaptive,
            ]"
            v-if="infoText && !isError"
          >
            {{ infoText }}
          </div>
        </div>
      </template>
      <template #dropdown="{ hide }">
        <Input
          type="text"
          :placeholder="searchLabel"
          v-model="searchValue"
          :container-class="$style.input"
          v-if="withSearch && options.length"
        />
        <div
          v-if="modelValue.length && !isDisabled && isNeedClear"
          :class="[
            $style.item,
            $style.reset,
            withBigAdaptive && $style.itemBigAdaptive,
          ]"
          @click="selectItem({ value: '', label: '' }, hide)"
        >
          {{ clearLabel }}
        </div>
        <div
          v-if="modelValue instanceof Array"
          :class="[$style.item, withBigAdaptive && $style.itemBigAdaptive]"
          v-for="item in searchOptions"
          :key="item.value"
          @click="selectItem(item)"
        >
          <slot
            name="select-item"
            :item="item"
            :changeVisibleShowContent="hide"
          >
            <CheckBox
              :model-value="modelValue.includes(item.value)"
              isSmall
              @click="selectItem(item)"
            />
            {{ item.label }}
          </slot>
        </div>
        <div v-else>
          <div
            :class="[
              $style.item,
              modelValue === item.value && $style.isCheck,
              withBigAdaptive && $style.itemBigAdaptive,
              withBigAdaptive && $style.isCheckBigAdaptive,
            ]"
            v-for="item in searchOptions"
            :key="item.value"
            @click="selectItem(item, hide)"
          >
            <slot
              name="select-item"
              :item="item"
              :changeVisibleShowContent="hide"
            >
              {{ item.label }}
            </slot>
          </div>
        </div>
      </template>
    </Dropdown>
  </div>
</template>

<style module lang="scss">
.container {
  position: relative;
  z-index: 1000;
  width: max-content;
}

.label {
  font-size: 12px;
  line-height: 150%;
  margin-bottom: 4px;
}

.triggerContainer {
  position: relative;
}

.input {
  width: calc(100% - 10px);
  margin: 10px auto 0;
  border-color: rgba(239, 244, 255, 1);
}

.trigger {
  width: max-content;
  max-width: 400px;
  display: flex;
  padding: 6px 8px 6px 12px;
  justify-content: center;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
  column-gap: 4px;
  align-self: stretch;

  color: #808080;
  font-size: 14px;
  line-height: 22px;
  box-sizing: border-box;

  cursor: pointer;
}

.triggerBigAdaptive {
  @media (min-width: 2560px) {
    font-size: 24px;
    padding: 20px;
    column-gap: 12px;
    max-width: 800px;
  }
}

.default {
  background: #fff;
  color: #808080;
  border: 1px solid #fff;
  &:hover {
    border: 1px solid rgba(203, 203, 204, 0.5);
    background: #fff;
  }

  &.active {
    border: 1px solid rgba(14, 137, 230, 0.4);
    background: #fff;
  }
}

.blue {
  background: #f4f9fd;
  color: #808080;
  border: 1px solid #f4f9fd;
  &:hover {
    background: linear-gradient(
        0deg,
        rgba(14, 137, 230, 0.08) 0%,
        rgba(14, 137, 230, 0.08) 100%
      ),
      #fff;
    border: 1px solid #f4f9fd !important;
  }

  &.active {
    border: 1px solid rgba(14, 137, 230, 0.4);
    background: #fff !important;
  }
}

.icon {
  padding: 0;
  background: transparent !important;
  border: none !important;

  &.active {
    background: transparent !important;
    border: none !important;
  }

  &:hover {
    background: #fafcff !important;
  }
}

.active {
  background: #f4f9fd !important;
  border: 1px solid #f4f9fd !important;
}

.select {
  display: flex;
  align-items: center;
  column-gap: 4px;
  width: 100%;
  justify-content: space-between;
}

.notActive {
  color: rgba(128, 128, 128, 1);
}

.arrow {
  position: relative;
  width: 14px;
  height: 14px;

  transition: all 0.2s ease-in-out;
}

.arrowBigAdaptive {
  @media (min-width: 2560px) {
    width: 32px;
    height: 32px;
  }
}

.rotate {
  transform: rotate(180deg);
}

.loaderIcon {
  animation: rotate 1s ease infinite;
}

.loaderContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  display: flex;
  align-items: center;
  column-gap: 8px;
  min-width: 170px;
  width: 100%;
  max-width: 400px;
  padding: 10px 12px;
  color: rgba(43, 43, 43, 1);
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 14px;
  line-height: 140%;
  box-sizing: border-box;

  @media (max-width: 768px) {
    line-height: 20px;
    padding: 6px 8px;
  }

  &:hover {
    background: #f2f2f2;
    cursor: pointer;
  }
}

.itemBigAdaptive {
  @media (min-width: 2560px) {
    font-size: 24px;
    padding: 20px;
    max-width: 800px;
  }
}

.reset {
  justify-content: center;
}

.errorText {
  position: absolute;
  left: 0;
  bottom: -20px;
  display: inline-block;
  color: #d1002f;
  font-size: 12px;
  line-height: 150%;
}

.errorTextBigAdaptive {
  @media (min-width: 2560px) {
    font-size: 24px;
  }
}

.infoText {
  position: absolute;
  left: 0;
  bottom: -20px;
  color: #808080;
  display: inline-block;
  font-size: 12px;
  line-height: 150%;
}

.infoTextBigAdaptive {
  @media (min-width: 2560px) {
    font-size: 24px;
  }
}

.error {
  border: 1px solid #d1002f !important;
  background: #fff !important;
}

.success {
  border: 1px solid #007c65;
}

.loading {
  border: 1px solid #ccc;
}

.disabled {
  opacity: 0.5;
}

.isCheck {
  background: #f2f2f2;
  position: relative;
  padding-right: 32px;
  top: 50%;

  &:after {
    content: "\2713";
    width: 16px;
    height: 16px;
    position: absolute;
    color: #0e89e6;
    right: 8px;
    top: 50%;
    transform: translateY(-10px);
    display: inline-block;

    @media (min-width: 2560px) {
      width: 32px;
      height: 32px;
    }
  }
}

.isCheckBigAdaptive {
  &:after {
    @media (min-width: 2560px) {
      width: 32px;
      height: 32px;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
