<script setup lang="ts">
// base component setting link https://github.com/vueform/toggle?tab=readme-ov-file
import Toggle from "@vueform/toggle";

withDefaults(
  defineProps<{
    modelValue?: boolean;
    name?: string;
    disabled?: boolean;
    required?: boolean;
    falseValue?: string | number | boolean;
    trueValue?: string | number | boolean;
    offLabel?: string;
    onLabel?: string;
    labelledby?: string;
    describedby?: string;
  }>(),
  {
    modelValue: undefined,
    name: "toggle",
    disabled: false,
    required: false,
    falseValue: false,
    trueValue: true,
    offLabel: "",
    onLabel: "",
    labelledby: "",
    describedby: "",
  },
);

const emit = defineEmits(["update:modelValue"]);

const classes = {
  container: "toggle-container",
  toggle: "toggle",
  toggleOn: "toggle-on",
  handle: "toggle-handle",
  handleOn: "toggle-handle-on",
  handleOff: "toggle-handle-off",
};
</script>

<template>
  <Toggle
    :model-value="modelValue"
    @update:model-value="(val: boolean) => emit('update:modelValue', val)"
    :name="name"
    :disabled="disabled"
    :required="required"
    :falseValue="falseValue"
    :trueValue="trueValue"
    :offLabel="offLabel"
    :onLabel="onLabel"
    :labelledby="labelledby"
    :describedby="describedby"
    :classes="classes"
  />
</template>

<style src="@vueform/toggle/themes/default.css"></style>
<style lang="scss">
.toggle-container {
  &:focus {
    box-shadow: none;
  }
}

.toggle {
  background: #cbcbcc;
  width: 41px;
  height: 20px;

  @media (max-width: 768px) {
    width: 32px;
    height: 16px;
  }
}

.toggle-on {
  background: #0e89e6;
  border-color: #0e89e6;
}

.toggle-off {
  border-color: #cbcbcc;
}

.toggle-handle {
  top: 2px;
  width: 16px;
  height: 16px;

  @media (max-width: 768px) {
    top: 1px;
    width: 14px;
    height: 14px;
  }
}
.toggle-handle-on {
  left: calc(100% - 2px);
}

.toggle-handle-off {
  left: 2px;
}
</style>
